.timeline p.headline {
  margin-top: 0;
}

.timeline-entry {
  margin-bottom: 10px;
}

.timeline-entry:last-of-type {
  margin-bottom: 0px;
}

.timeline-entry-chip {
  margin-right: 5px;
  margin-bottom: 5px;
  display: inline-block;
}

.timeline-entries img {
  margin-left: 100px;
  object-fit: cover;
}

.double-img img {
  margin-left: 15px;
}

.timeline-entries {
  display: inline-block;
  margin-top: 20px;
}

a {
  text-decoration: none;
  color: green;
  font-weight: bold;
}

.images-blog {
  text-align: center;
}

.feature-list{
  color: rgba(0, 0, 0, 0.54);
}

hr {
  color: rgb(255, 0, 0);
}

.feature-text{
  font-family: Roboto, sans-serif;
}